@use '../../styles/ui';

.article-editor {
  @include ui.block-base;
  max-width: 800px;
  margin: 2rem auto;
  border: 1px solid ui.$gray-border;

  input[type="text"] {
    @include ui.input-base;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box; 
    display: block;
  }

  textarea {
    @include ui.input-base;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-height: 120px;
    resize: vertical;
  }

  button {
    @include ui.button-base();
    margin: 0.5rem 0.5rem 1rem 0;
  }
}
