@use '../../styles/ui';

.code-block {
  @include ui.block-base;

  textarea {
    @include ui.input-base;
    min-height: 120px;
    font-family: ui.$font-mono;
    background: #fff;
    resize: vertical;
  }

  button {
    @include ui.button-base();
    align-self: flex-end;
  }
}